body {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.container{
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.logo {
    color: red!important;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* Footer */
.f-info {
    text-align: center;
    height: auto;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.f-info-social {
    margin-bottom: 1rem;
}

.f-info-links {
    margin-top: 0.5rem;
}

.f-info-links a {
    margin: 0 0.5rem;
    color: #222222;
    text-decoration: none;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-social i {
    margin: 0 0.5rem;
    font-size: 1.2rem;
}



/*listing page*/
.listing-card {
    border: none !important;
    border-radius: 1rem !important;
    overflow: hidden;
    position: relative;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    height: 100%;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-cards{
    text-decoration: none !important;
}

/* Card Effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color:white;
}

/*New page*/
.add-btn{
    background-color:blue !important;
    border:none !important;
}

/*edit page*/
.edit-btn{
    background-color:blue !important;
    border:none !important;
}

/*show page*/
.show-img{
    height: 30vh;
}

.btns{
    display:flex;

}

.show-card{
    padding-left: 0;
    padding-right: 0;
}
